<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="/styles/css/demo.css">
<title>Password recovery</title>
</head>
<body>
	<h1>Reset your password!</h1>


	<form action="/resetPwd"  method="post"
		class="containerLogIn">
		<h2>Please enter your username and new password</h2>
		
		<p>
		<div>
			<input type="text" name="username"
				placeholder="Enter username" autofocus class="inPut">
		</div>
		<p>
		<div>
			<input type="password" name="password" placeholder="password"
				class="inPut">
		</div>

		<p>
		<div>
			<input type="submit" value="Rebuild password" class="apply-button">
		</div>

	</form>
	<p>
	<div>
		If you haven't any account please <a href="/signup"> register here
		</a>.
	</div>

</body>
</html>